.list-group-item{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 10px;
    &:focus{
        outline: none;
    }
    &:active{
        
    }
    &:not(.active):hover{
        color:#fff;
        background-color: #e95620af;
        
    }
}