<div
    class="d-flex flex-wrap align-items-center bg-light justify-content-center justify-content-md-between py-3 mb-4 border-bottom fixed-top">
    <img src="/assets/images/logo.png" alt="logo" class="logo" routerLink="/">

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase" 
    style="font-size: larger;">
        <li><a [routerLink]="['/']" class="nav-link px-2" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a href="#" routerLink="/shop"  class="nav-link px-2" routerLinkActive="active">Shop</a></li>
        <li><a href="#" class="nav-link px-2">Contact</a></li>
        <li><a routerLink="/test-error" routerLinkActive="active" class="nav-link px-2">Errors</a></li>
    </ul>
    <div class="d-flex col-md-3 justify-content-end align-items-center">
        <a class="position-relative me-4" routerLink="/basket">
            <i class="fa fa-shopping-cart fa-2x text-dark"></i>
            <div class="cart-no" *ngIf="(basket$ | async)  as basket">{{basket?.items?.length}}</div>
        </a>
        <button type="button" class="btn btn-outline-primary me-3">Login</button>
        <button type="button" class="btn btn-primary me-3">Sign-up</button>
    </div>
</div>